body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    background-color: blue;
    
}

#result {
    
    /* padding: 20px;
    border-radius: 10px; */
    color: yellow;
}

p {
    font-size: 24px;
    color: yellow;
    margin: 0;
font-size: 59px;
}